nav {
    float: left;
    width: 15%;
    height: 100vh;
    background-color: #99CCCC;
}

nav .nav-link {
    font-weight: bold;
    color: black;
}

article {
    float: right;
    width: 85%;
}

@media (max-width: 1200px) {
    body {
        font-size: large;
    }

    nav {
        float: left;
        width: 25%;
        height: 100vh;
        background-color: #99CCCC;
    }

    article {
        float: right;
        width: 75%;
    }
}

@media (max-width: 1000px) {
    body {
        font-size: x-small;
    }

    nav {
        float: left;
        width: 40%;
        height: 100vh;
        background-color: #99CCCC;
    }

    article {
        float: right;
        width: 60%;
    }
}

@media (max-width: 500px) {
    body {
        font-size: xx-small;
    }

    nav {
        float: left;
        width: 30%;
        height: 100vh;
        background-color: #99CCCC;
    }

    article {
        float: right;
        width: 70%;
    }
}