.errorText {
    color: red;
    font-weight: bold;
    text-decoration: underline;
}

.control-color:enabled {
    background-color: white;
}

.control-color:disabled {
    background-color: gray;
}

.dropdown-menu {
    max-height: 10vh;
    overflow-y: scroll;
}